<app-navbar></app-navbar>
<!--titulo da cadastro de novo usuário-->
<section>
    <div class="container_title">
        <h1>Cadastrar Novo Contato</h1>
    </div>
</section>
<!--Formulário de cadastro de contatos-->
<section>
    <form [formGroup]="formContatos">
        <div class="grid-container">        
            <div>
                <span>Nome:</span>
                <input formControlName="name" type="text" name="nome">
            </div>
            <div>
                <span>Telefone:</span>
                <input formControlName="phone" type="text" name="phone">
            </div> 
        </div>
        <div class="grid_container_email">
            <div>
                <span>Email:</span>
                <input formControlName="email" type="text" name="email">
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="validation()">Salvar Contato</button>
            </div>                                       
        </div>
    </form>                    
</section>
