.container_title{
    display:flex;
    margin-top: 20px;
    justify-content: center;
}

.grid-container{
    display: grid;                          
    grid-template-columns: auto auto;
    grid-gap: 2.5em;
    margin: 20px;
    
    input{
        width: 100%;
    }    
}

.check{
    display: grid;
}

// Media query para desktop com o maximo de 767px

@media screen and (max-width: 767px){

    .container_title{
        display:flex;
        margin-top: 20px;
        justify-content:center;
    }

    .grid-container{
        display: grid;                          
        grid-template-columns: auto;
        grid-gap: 1.5em;
        margin: 20px;    
       
    }    
    
}
