.container_title{
    display:flex;
    margin-top: 20px;
    justify-content: center;
}

.container_buttons{
    float:right;
    margin: 20px 20px 20px 0;

    button{
        margin-right: 10px;
    }    
}

table{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

thead tr{
    background-color: cadetblue;
    color: #fff;
}

table th,
table td{
    padding: .625em;
    text-align: center;
}

table th{
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.container_buttons_table{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}